# dir with input files
snazzy_processing/data/*
snazzy_analysis/data/*

# add annotated data for ROI length evaluation
!snazzy_processing/data/20240611/
snazzy_processing/data/20240611/*
!snazzy_processing/data/20240611/annotated
!snazzy_processing/data/20240611/emb_sizes


# dir with output files
*/results/

# python stuff
**/__pycache__
*.py[cod]
*$py.class
*.pyc

# egg metadata
*.egg-info

# Unit test / coverage reports
*/htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Sphinx docs
docs/build

# saved images
*/notebooks/*.svg

# macOS
.DS_Store