name: Test

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]

    steps:
      - name: Install Linux Qt deps
        if: runner.os == 'Linux'
        run: |
            sudo apt install \
            libgl1 \
            libegl1 \
            libdbus-1-3 \
            libxkbcommon-x11-0 \
            libxcb-icccm4 \
            libxcb-image0 \
            libxcb-keysyms1 \
            libxcb-randr0 \
            libxcb-render-util0 \
            libxcb-xinerama0 \
            libxcb-xfixes0 \
            x11-utils && \
            /sbin/start-stop-daemon --start --quiet \
            --pidfile /tmp/custom_xvfb_99.pid \
            --make-pidfile \
            --background \
            --exec /usr/bin/Xvfb -- \
            :99 -screen 0 1920x1200x24 -ac +extension GLX

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: snazzy-env

      - name: Install dependencies
        run: conda env update -f environment.yml -n snazzy-env --quiet

      - name: Test with pytest
        run: conda run -n snazzy-env pytest
        env:
          QT_QPA_PLATFORM: offscreen
          MPLBACKEND: Agg
          HEADLESS: 1
